# Ignore all files in the 'data' and 'result' folders
data/labels/*
data/convert.ipynb
data/test_image/*
data/attacked_images/*
data/images/*
data/masks/*

result/*

!data/images
!data/masks
!data/attacked_images
!result/
